* text=auto !eol
/AGPL.txt -text
/LICENSE.txt -text
/README.txt -text
/SECURITY.txt -text
/build.zip -text
/composer.json -text
src/Aether/Execution/Agent/BaseAgent.php -text
src/Aether/Execution/Agent/IAgent.php -text
src/Aether/Execution/Job/Async.php -text
src/Aether/Execution/Job/BaseJob.php -text
src/Aether/Execution/Job/Coroutine.php -text
src/Aether/Execution/Job/Defer.php -text
src/Aether/Execution/Job/Fiber.php -text
src/Aether/Execution/Job/IJob.php -text
src/Aether/Execution/Job/Timer.php -text
src/Aether/Execution/Supervisor.php -text
src/Aether/Execution/ThreadModel/Models.txt -text
src/Aether/IException.php -text
src/Aether/Listener/CommonServiceListener.php -text
src/Aether/Listener/ControlServiceListener.php -text
src/Aether/Listener/RceCallbackServiceListener.php -text
src/Aether/Listener/RceServiceListener.php -text
src/Aether/Security/Integrity/BaseDecryptionStrategy.php -text
src/Aether/Security/Integrity/BaseEncryptionStrategy.php -text
src/Aether/Security/Integrity/BaseSigVerificationStrategy.php -text
src/Aether/Security/Integrity/BaseSigningStrategy.php -text
src/Aether/Security/Integrity/Cryptor.php -text
src/Aether/Security/Integrity/Signer.php -text
src/Aether/Security/Integrity/Ticket/ITicket.php -text
src/Aether/Security/Integrity/Ticket/Master.php -text
src/Aether/Terminal/SystemTerminal.php -text
src/Aether/Utility/InvocationWrapper/AcnCommand.php -text
src/Aether/Utility/InvocationWrapper/AeshCommand.php -text
src/Aether/Utility/InvocationWrapper/RceCommand.php -text
src/Aether/Utility/RemotedApplication.php -text
src/Common.php -text
