* text=auto !eol
/AGPL.txt -text
/LICENSE.txt -text
/PharMain.php -text
/README.txt -text
/SECURITY.txt -text
/box.json.dist -text
/build.properties -text
/build.xml -text
/composer.json -text
/masthead.txt -text
/readthedocs.yaml -text
res/main.txt -text
/sonar-project.properties -text
src-docs/Makefile -text
src-docs/apigen.neon -text
src-docs/make.bat -text
src-docs/source/Doxyfile-rtd -text
src-docs/source/_templates/breadcrumbs.html -text
src-docs/source/api.rst -text
src-docs/source/appendix.rst -text
src-docs/source/cmdlets/about.rst -text
src-docs/source/cmdlets/login.rst -text
src-docs/source/cmdlets/motd.rst -text
src-docs/source/cmdlets/phpinfo.rst -text
src-docs/source/cmdlets/ping.rst -text
src-docs/source/cmdlets/type.rst -text
src-docs/source/conf.py -text
src-docs/source/contributing.rst -text
src-docs/source/extending.rst -text
src-docs/source/favicon.ico -text
src-docs/source/favicon.png -text
src-docs/source/index.rst -text
src-docs/source/installation.rst -text
src-docs/source/intro.rst -text
src-docs/source/requirements.txt -text
src-docs/source/syscmds.rst -text
src-docs/source/usage.rst -text
src-docs/source/wacc.png -text
src/Command.php -text
src/Command/BaseCommand.php -text
src/Command/ICommand.php -text
src/Command/ICommandException.php -text
src/Command/UnknownCommandSignatureException.php -text
src/Common.php -text
src/Core/Boot/BootExceptionType.php -text
src/Core/Boot/Container.php -text
src/Core/Boot/Event/Event.php -text
src/Core/Boot/Event/EventHandlerInterface.php -text
src/Core/Boot/Event/EventManager.php -text
src/Core/Boot/Event/EventManagerFactory.php -text
src/Core/Boot/Event/EventQueue.php -text
src/Core/Boot/Event/PassthroughEventHandler.php -text
src/Core/Boot/Executor.php -text
src/Core/Boot/Main.php -text
src/Core/Comms/BaseClient.php -text
src/Core/Comms/BaseFactory.php -text
src/Core/Comms/BaseListener.php -text
src/Core/Comms/ClientFactory.php -text
src/Core/Comms/CommsExecptionType.php -text
src/Core/Comms/IClient.php -text
src/Core/Comms/IListener.php -text
src/Core/Comms/ListenerFactory.php -text
src/Core/Comms/ListenerHostFiber.php -text
src/Core/ExecutionFrame.php -text
src/Core/IException.php -text
src/Core/Security/Integrity/BaseDecryptionStrategy.php -text
src/Core/Security/Integrity/BaseEncryptionStrategy.php -text
src/Core/Security/Integrity/BaseSigVerificationStrategy.php -text
src/Core/Security/Integrity/BaseSigningStrategy.php -text
src/Core/Security/Integrity/Cryptor.php -text
src/Core/Security/Integrity/Signer.php -text
src/Core/Security/Integrity/Ticket/ITicket.php -text
src/Core/Security/Integrity/Ticket/Master.php -text
