{
	"algorithm":	"SHA512",
	"banner-file":	"masthead.txt",
	"blacklist":	["libs", "etc"],
	"compression":	"GZ",
	"directories":	["src", "vendor"],
	"directories-bin": ["res"],
	"files":
	[
		"res/main.txt"
	],
	"intercept": true,
	"main": "res/main.txt",
	"metadata": "#PH_PRJ-NAME# #PH_VERSION# #PH_BUILDID#",
	"output": "out/AetherSDK.phar",
	"replacements": 
	{
		"PH_PHAR-VERSION": "#PH_VERSION#",
		"PH_PHAR-BUILDID": "#PH_BUILDID#",
		"version": ""
	},
	"stub": true
}